.background {
  background-position: center;
  background-image: url('./assets/svgs/wavey-fingerprint.svg');
}

.navbar .navbar-menu, .navbar-brand {
  background-color: rgb(231, 231, 231) !important;
  box-shadow: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: purple;
  padding-top: 1px;
}

.tag:hover {
  background-color: rgb(87, 74, 87) !important;
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -ms-overflow-style: none; */
}

section {
  min-height: 100vh;
  font-family: "lato", "Roboto", "Arial", sans-serif;
}

.tag:hover {
  background-color: lightgreen;
}

.fixed {
  position: fixed;
}

.circle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: lightgray;
}

.color {
  background-color: rgb(86, 65, 86);
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline_red {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(235, 121, 121);
}

.underline_purple {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: purple;
}

.git {
  color:rgb(170, 121, 235)
}

.linked {
  color:rgb(121, 131, 235)
}

.blog {
  color:rgb(235, 163, 121)
}

.icon:hover {
  animation: bouncing 1s none;
}

@keyframes bouncing {
  0%, 100% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes spreading {
  0%, 100% {
    transform: translate3d(0);
  }

  50% {
    transform: translate3d(10px, 10px, 0);
  }
}


@media (min-width: 401px) {
  .card {
    min-height: 150px;
    min-width: 300px;  
  }
}

@media (max-width: 401px) {
  .box {
    max-height: 300px;
    overflow-y: scroll;
  }
}






