body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.section {
  height: 100vh;
}

.bg1 {
  background-color: lightgreen;
}

.bg2 {
  background-color: lightblue;
}

.bg3 {
  background-color: lightpink;
}